* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    direction: ltr;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    background-image: url('../images/noise.png');
    font-size: 13px;
    letter-spacing: 1px;
    color: rgb(49, 49, 49);
    overflow-x: hidden;
}

#progress {
    height: 5px;
    width: 0;
    background-color: rgb(255, 157, 7);
    position: fixed;
    top: 0;
    z-index: 9999;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background-color: white;
    border-bottom: 1px solid thistle;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0.8rem 0;
}

.navlink {
    color: rgb(49, 49, 49);
}

.navlink:hover {
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 80, 205);
    transition: 0.01s;
}

header {
    color: rgb(70, 150, 255);
}

h1 {
    padding-top: 1rem;
    margin-top: 3rem;
    font-size: 1.5rem;
    text-align: center;
}

h3 {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
}

header h4 {
    width: 50%;
}

h4 {
    font-size: 0.8rem;
}

@media screen and (min-width: 500px) {
    .box img {
        width: 20rem;
        height: 15rem;
    }
} 

@media screen and (min-width: 690px) {
    h1 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.9rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    .paleblue h4 {
        width: 50%;
    }

    .box img {
        width: 40rem;
        height: 32rem;
    }
}

@media screen and (min-width: 900px) {
    .box img {
        width: 50rem;
        height: 37rem;
    }
}

@keyframes makeOpaque {
    100% {
        opacity: 1;
    }
}

.wrapper {
    margin-right: 8rem;
    margin-left: 8rem;
    border: 3px solid rgb(0, 80, 205);
    border-radius: 2%;
    overflow: hidden;
    color: whitesmoke;
}

section {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

section h3 {
    margin-bottom: 1rem;
}

.blue {
    opacity: 0;
    background-color: rgb(0, 120, 235);
    animation: makeOpaque 2s ease-in forwards;
    /* background-color: rgb(170, 0, 142, 0.8); */
    /* background-color: darkmagenta; */
}

.skyblue {
    opacity: 0;
    background-color: rgb(70, 150, 255);
    animation: makeOpaque 2s ease-in forwards;
}

figcaption {
    font-size: 0.7rem;
}

@media screen and (min-width: 690px) {
    span {
        width: 75%;
        font-size: 1rem;
    }
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    display: none;
}

.box p, .box img {
    margin: 0;
    font-weight: bold;
}

.arrow {
    font-size: 2rem;
    color: rgb(49, 49, 49);
}

.arrow:hover {
    text-decoration: none;
    color: rgb(212, 127, 0);
    transform: scale(1.1);
    transition: 1000ms;
    cursor: pointer;
}

.active {
    display: block;
}

.bg-honey {
    background-color: rgb(255, 207, 7);
    box-shadow: 3px 3px 3px 3px rgba(49, 49, 49, 0.7);
}

.link {
    color: rgb(49, 49, 49);
}

.link:hover {
    font-weight: bold;
    color: rgb(0, 80, 205);
    text-decoration: none;
    transition: 0.01s;
}

footer {
    width: 100%;
    bottom: 0;
    padding: 1rem;
    margin-top: 2rem;
    background-color: rgb(49, 49, 49);;
    color: white;
    text-align: center;
}